<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="COSMOSURL" value="https://cosmos-gjmmp.documents.azure.com:443/"/>
    <add key="COSMOSKEY" value="Tw4J4nlGxXwRd9XrZfIPF1HhhcX0eHOCDaGCRKeAMh3vu0tHbjGOAkxZ4MhFa1bj4GNbQZd0ThSBfpfHiawCZQ=="/>
    <add key="DBID" value="database1"/>
    <add key="CONTAINERID" value="container1"/>
  </appSettings>
</configuration>